<%inherit file="/lms/templates/instructor/instructor_dashboard_2/instructor_dashboard_2.html"/>
<%block name="sections">
<!-- OVERRIDE ACTIVO -->
    % for section_data in sections:
      <% is_hidden = section_data.get('is_hidden', False) %>
      <section id="${ section_data['section_key'] }" class="idash-section${' hidden' if is_hidden else ''}" aria-labelledby="header-${section_data['section_key']}">
          <h3 class="hd hd-3" id="header-${ section_data['section_key'] }">${ section_data['section_display_name'] }</h3>
          % if 'fragment' in section_data:
            ${ HTML(section_data['fragment'].body_html()) }
          % else:
            <%include file="${ section_data.get('template_path_prefix', '') }${ section_data['section_key'] }.html" args="section_data=section_data" />
          % endif
      </section>
    % endfor
</%block>